@tailwind base;
@tailwind components;
@tailwind utilities;


.loaded .card {
    opacity: 1;
    transform: translateY(0);
}

.section-title {
    @apply text-4xl mb-0 pb-4 font-semibold mt-12 border-b-4 border-navy dark:border-cream
}

.subsection {
    @apply font-semibold text-3xl pb-4 border-b border-navy dark:border-cream
}

.callout {
    @apply flex flex-col md:flex-row gap-0 overflow-hidden rounded-2xl bg-navy dark:bg-cream items-center
}

.rules .content > * {
    @apply mx-8
}